extends ../layout
block content
	<div class="container body_bgc container-lg">
		<div class="col-8 form_bg_clr">
			<h3 class ="text-center mt-2 emp_dtls"> Employee Details</h3>
			each val, index in rows
				<form action="/users/update/!{val.id}" method = "post" enctype="multipart/form-data" runat="server">
					<div class="col-sm mt-2 demo">
					<input type="text" name ="uuid" class="form-control" id="exampleFormControlInput1" placeholder="Enter Employe Id" value = "!{val.uuid}">
					<div>
					<div class="col-sm mt-2">
					<input type="text" name ="first_name" class="form-control" id="exampleFormControlInput1" placeholder="First Name" value = "!{val.first_name}" >
					</div>
					<div class="col-sm mt-2">
					<input type="text" name ="last_name" class="form-control" id="exampleFormControlInput1" placeholder="Last Name" value = "!{val.last_name}">
					</div>
					<div class="col-sm mt-2">
					<input type="text" name ="father_name" class="form-control" id="exampleFormControlInput1" placeholder="Father's Name" value = "!{val.father_name}">
					</div>
					<div class="col-sm mt-2">
					<input type="text" name ="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" value = "!{val.email}">
					</div>
					<div class="col-sm mt-2">
					<input type="text" name ="phone_no" class="form-control" id="exampleFormControlInput1" placeholder="phone no." value = "!{val.phone_no}">
					</div>
					<div class="col-sm mt-2">
					<select name ="gender" id= "" class = "form-control">
					if val.gender == "male"
						<option value="male" selected> Male </option>
					else
						<option value="male"> Male </option>
					if val.gender == "female"
						<option value= "female" selected> female </option>
					else
						<option value= "female"> female </option>
					if val.gender == "other"
						<option value="other" selected> Others </option>
					else
						<option value="other"> Others </option>
					</select>
					</div>
					<div class="form-check form-check-inline mt-2">
						p Hobbies
						//- var hobbi= [songs,games,coding];
						if val.hobbies.includes("songs")
							<input type="checkbox" class="form-check-input" id="check1" name="hobbies" value="songs" checked>
							<label class="form-check-label" for="flexCheckDefault" value="songs">Songs
							</label> 
						else
							<input type="checkbox" class="form-check-input" id="check1" name="hobbies" value="songs">
							<label class="form-check-label" for="flexCheckDefault" value="songs">Songs
							</label>
					</div>
					<div class="form-check form-check-inline">
					//- each h in hobbies
					//- 	<div class="custom-control custom-checkbox custom-control-inline">
					//- 		input( id=h checked=(rows.hobbies.includes(h)) class="custom-control-input" type="checkbox" name="hobbies" value=h)
					//- 		<label for="!{h}" class="custom-control-label">!{h}</label>
					//- 	</div>
					//- cansole.log(hobbi);
					//- each h in hobbies
					if val.hobbies.includes("games")
						<input type="checkbox" class="form-check-input" id="check1" name="hobbies" value="games" checked>
						<label class="form-check-label" for="flexCheckDefault" value="games ">Games
						</label>
					else
						<input type="checkbox" class="form-check-input" id="check1" name="hobbies" value="games" >
						<label class="form-check-label" for="flexCheckDefault" value="games">Games
						</label>
					</div>
					<div class="form-check form-check-inline">
					if val.hobbies.includes("coding")
						<input type="checkbox" class="form-check-input" id="check1" name="hobbies" value="coding" checked> 
						<label class="form-check-label" for="flexCheckDefault" value="coding">Coding
						</label>  
					else
						<input type="checkbox" class="form-check-input" id="check1" name="hobbies" value=""> 
						<label class="form-check-label" for="flexCheckDefault" value="coding">Coding
						</label>
					</div>
					<div class="col-sm mt-2">
					<select name ="state" id= "" class = "form-control">
					<option value ="!{val.state}">Select State</option>
					</select>
					</div>
					<div class="col-sm mt-2">
					<select name ="district" id= "" class = "form-control">
					<option value ="!{val.city}">Select Dist.</option>
					<div class="col-sm mt-2">
					<label for="formFile" class="form-label">Upload your profile pic.</label>
					<input type="file" class="form-control"  id= "image-input" name = "img_file" value="" >
						//- script.
						//- 	var imagename = document.getElementByName("img_file");
						//- 	var imagefile = document.getElementById("image-input");
						//- 	console.log(imagefile);
						//- 	console.log(imagename);
					</div>
					</select>
					</div>
					<div class="col-sm mt-2">
						<img src="/images/!{val.img_file}" class="rounded float-left" id="preview-image" width="100px"  alt="">
						script.
							var imageInput = document.getElementById("image-input");
							var previewImage = document.getElementById("preview-image");
							imageInput.addEventListener("change",function(event){
								if(event.target.files.length == 0){
									return
								}
								var tempUrl = URL.createObjectURL(event.target.files[0]);
								previewImage.setAttribute('src',tempUrl);
							});

				</div>
				</form>
				<div class ="submit_btn  mt-2 btn-div">
				<button type="submit" name ="update" class="btn btn-secondary">Update</button>
				</div>
			</div>
	</div>